{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<storage-connection-string>",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "TwilioSid": "<twilio-sid>",
    "TwilioToken": "<twilio-token>",
    "TwilioFrom": "+1 555 555 5555",
    "TwilioTo": "555 555 55555"
  }
}
